.button {
    color: $magnolia;
    background-color:$maxBluePurple;
    font-family: 'Nunito', sans-serif;
    width: 75px;
    height: 25px;
    border-radius: 30px;
    border: none;
    box-shadow: rgb(170, 169, 169) 2px 2px 2px;
;
}